#graduated-intern #graduate-cards-container {
  min-height: 800px;
  max-height: 800px;
  background: white;
}

#graduated-intern #graduate-cards-container #card-details {
  background: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.4) 80%);
}

.left-card-batch .swiper-wrapper,
.middle-card-batch .swiper-wrapper,
.right-card-batch .swiper-wrapper {
  height: 400px;
  background: #f1f7fd;
  transition: transform 0.5s linear;
  -webkit-transition: transform 0.5s linear;
  -moz-transition: transform 0.5s linear;
  -ms-transition: transform 0.5s linear;
  -o-transition: transform 0.5s linear;
}

#graduate-cards-container .swiper-wrapper .swiper-card {
  height: 450px;
  width: 100%;
}

#graduate-cards-container .graduate-card-name {
  font-weight: 600;
  font-size: 1.5rem;
}
#graduate-cards-container .graduate-card-position {
  font-weight: 500;
  font-size: 1rem;
}

/* Tablet */
@media (max-width: 1200px) {
  #graduate-cards-container .swiper-wrapper .swiper-card {
    height: 300px;
  }
  #graduate-cards-container .graduate-card-name {
    font-weight: 600;
    font-size: 1rem;
  }
  #graduate-cards-container .graduate-card-position {
    font-size: 1rem;
  }
}

/* Mobile */
@media (max-width: 768px) {
  #graduate-cards-container .swiper-wrapper .swiper-card {
    height: 250px;
  }
  #graduate-cards-container .graduate-card-position {
    font-size: 0.8rem;
  }
}

/* Container Shade on top and bottom */
#graduated-intern #graduate-cards-container::before {
  content: "";
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0), #ffffff);
}

#graduated-intern #graduate-cards-container::after {
  content: "";
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
}
