.hero-container {
  font-family: "Poppins", sans-serif;
}

.hero-container .hero-content h1 {
  color: #1354a3;
  line-height: 3.5rem;
  font-size: clamp(1.75rem, 1.75rem + 1.1704vw, 2.7466rem);
  text-transform: none;
  font-family: inherit;
  font-weight: bold;
  -webkit-text-stroke: 0px;
  text-shadow: none;
}

.hero-paragraph {
  margin-top: 20px;
  font-weight: 500;
  font-family: inherit;
  font-size: clamp(0.8333rem, 0.8101rem + 0.1159vw, 0.9rem);
}

.hero-container .hero-content .btn-get-started {
  background: rgb(30, 129, 208);
  background: linear-gradient(
    90deg,
    rgba(30, 129, 208, 1) 0%,
    rgba(7, 39, 107, 1) 100%
  );
  padding: 13px 27px;
  border-radius: 50px;
  transition: all 0.3s linear;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  box-shadow: 0px 5px 16px -6px #1e81d0;
  -webkit-box-shadow: 0px 5px 16px -6px #1e81d0;
  -moz-box-shadow: 0px 5px 16px -6px #1e81d0;
}

.hero-container .hero-content .btn-get-started:hover {
  background: linear-gradient(
    270deg,
    rgba(30, 129, 208, 1) 0%,
    rgba(7, 39, 107, 1) 100%
  );
  box-shadow: 0px 0px 4px 2px #1e81d0;
  -webkit-box-shadow: 0px 0px 4px 2px #1e81d0;
  -moz-box-shadow: 0px 0px 4px 2px #1e81d0;
}

.hero-container .hero-content .btn-watch-video {
  padding: 13px 27px;
  border-radius: 50px;
  border: solid 1px black;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 5px 16px -6px #1e81d0;
  -webkit-box-shadow: 0px 5px 16px -6px #1e81d0;
  -moz-box-shadow: 0px 5px 16px -6px #1e81d0;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.hero-container .hero-content .btn-watch-video:hover {
  border-radius: 50px;
  box-shadow: 0px 0px 4px 2px #1e81d0;
  -webkit-box-shadow: 0px 0px 4px 2px #1e81d0;
  -moz-box-shadow: 0px 0px 4px 2px #1e81d0;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.hero-image-container {
  padding: 0 4rem 0 0;
  height: auto;
}

@media (max-width: 768px) {
  .hero-image-container {
    padding: 0;
    scale: 0.7;
    height: auto;
  }
}

.blue-modern-dialogika-btn {
  background: rgb(30, 129, 208) !important;
  background: linear-gradient(
    90deg,
    rgba(30, 129, 208, 1) 0%,
    rgba(7, 39, 107, 1) 100%
  ) !important;
  box-shadow: 0px 5px 16px -6px #1e81d0 !important;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.blue-modern-dialogika-btn:hover {
  border: none !important;
  box-shadow: 0px 0px 5px 2px #1e81d0 !important;
}
